.contact-banner {
    width: 100%;
    min-height: 300px;
    background-image:
        url("../../../images/service-banner.jpg");
    background-color: rgb(114, 114, 114);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top 30%;
    position: relative;
}


.faq-container {
    width: 85%;
    margin: 100px auto 100px auto;
}

.faq-title, .contactform-title {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}

.faq-subtext, .contactform-subtext{
    font-size: 20px;
    font-weight: 400;
    color: #787878;
    text-align :center;
    padding:0px 0 10px 0;
}
.contactform-subtext span{
color:black;
font-weight: 600;
font-size: 22px;
}
.form-img {
    max-width: 380px;
    padding-bottom: 100px;
}

.btn {
    font-size: 22px;
    font-weight: 600;
    background: #425F57;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transistion-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: black;
    color: white;
}

.map-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.map-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 30px;
    font-weight: 600;
}


.map-container {
    height: 45vh;
    width: 90%;

}
.googlemap-container{
    text-align: center;
    line-height: 0.5rem;
}

.googlemap-container span{
    font-weight: 600;
}

@media (max-width: 768px) {
    .banner-header {
      font-size: 45px;
      letter-spacing: 10px;
    }
  }
  